{% extends 'psite/base.html' %}
{% load static %}

{% block content %}


        
    <div class="flex justify-between items-center rounded-lg p-6 mb-6">
        <div>
            <h1 class="text-5xl font-serif font-black">Full-Stack Web Design & Development</h1>
        </div>
        <div class="w-80 h-80 rounded-full bg-center bg-cover" style="background-image: url('{% static "psite/andrew_headshot.jpg" %}');">
        </div>
    </div>
     
    
{% endblock %}

{% block extra_js %}
    <script>
        var elem = document.querySelector('.main-carousel');
        var flkty = new Flickity( elem, {
            wrapAround: true,
        });
    </script>
{% endblock %}